@import "tailwindcss";

@theme {
	--color-primary: #1890FF;
	--color-accent: #f7d4c1;
	--color-text-dark: #191A15;
	--color-text-light: #888887;
	--color-light-grey: #A6A6A6;
	--color-light-background: #F9F8FE;
	--color-footer: #161C28;
	--color-footer-light: #222938;
}

@layer base {
	:root {
		--radius: 12px;
	}

	html,
	body {
		@apply m-0 p-0 text-[color:var(--color-text-dark)] bg-white font-["Space_Grotesk",ui-sans-serif,system-ui,-apple-system,'Segoe_UI',Roboto,Helvetica,Arial,'Apple_Color_Emoji','Segoe_UI_Emoji'];
	}
}

svg{
	width:  auto;
    height: auto;
}